<%- include("header"); -%>
<h1>Contact Us</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Totam cumque porro odio inventore error maxime facilis expedita.
          Autem at neque iure excepturi officiis magni alias, nobis debitis minus,
           delectus facilis?
    </p>
    
    <%- include("footer"); -%>